<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="/" class="logo d-flex align-items-center">
                    <span>Cap Careers</span>
                </a>

            </div>

            <div class="col-lg-5">
                <div class="copyright text-right">
                    &copy; Copyright <strong><span>Cap Careers</span></strong>. Tous droits réservés
                </div>
            </div>

        </div>
    </div>



</footer><!-- End Footer -->