{% extends 'base.html.twig' %}

{% block title %}Employeur{% endblock %}

{% block body %}
    <div class="container min-vh-100">
        <div class="row py-5">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/employeur/" class="list-group-item list-group-item-action {% if left_menu =='profile' %}active{% endif %}">Mon entreprise</a>
                    <a href="/offre/" class="list-group-item list-group-item-action {% if left_menu =='Mes offres' %}active{% endif %}">Mes offres</a>
                    <a href="/offre/" class="list-group-item list-group-item-action {% if left_menu =='' %}active{% endif %}"> Calendrier</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="w-100 bg-white rounded-lg shadow-lg border mb-0 md:mb-0 max-md-width-xl ">
                    <div class="p-4 p-md-5 space-y-4 md:space-y-5">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
