<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/">

        <div class="sidebar-brand-text mx-3">Cap Careers</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/">
            <span>Tableau de bord</span></a>
    </li>
    <hr class="sidebar-divider">s
    <li class="nav-item ">
        <a class="nav-link" href="/admin/candidats">
            <span>Gestion des candidats</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/admin/">
            <span>Gestion des employeurs</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/admin/">
            <span>Gestion des caps</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/admin/">
            <span>Gestion des Sécteurs</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/admin/">
            <span>Gestion des Catégories</span></a>
    </li>

</ul>