{% extends 'admin/adminbase.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
<div class="col-md-9">
<div class="w-100 bg-white rounded-lg shadow-lg border mb-0 md:mb-0 max-md-width-xl ">
<div class="p-4 p-md-5 space-y-4 md:space-y-5">
    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}
</div>
</div>
</div>    
{% endblock %}
