<form method="post" class="d-inline" action="{{ path('app_experience_delete', {'id': experience.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer cette expérience ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.id) }}">
    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
</form>
